body {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.button {
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
	background: #eee;
	color: #222;
	padding: 0.5em 1em;
	border: 1px solid rgba(0,0,0,0.2);
}

.button-happy {
	@extend .button;
	background: #0c0;
	color: #fff;
}

.button-sad {
	@extend .button;
	background: #c00;
	color: #fff;
}