<!doctype html>
<html>
	<head>
		<title>Grunt Up & Running</title>
		<style type='text/css'>

		body {
			font-family: Georgia, "Times New Roman", serif;
			color: #222;
			background: #f0f0f0;
			line-height: 1.4;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: Helvetica, Arial, sans-serif;
		}

		a {
			color: #1F3C99;
			text-decoration: none;
		}

		article {
			max-width: 50em;
			margin: 0 auto;
			padding: 5em;
			background: #fff;
		}

		pre, code {
			font-family: Consolas, Monaco, monospace;
		}

		pre {
			padding: 1em 5em;
			background: #ddd;
			overflow: auto;
			color: #555;
			margin: 1em -5em;
		}

		#cover {
			margin-bottom: 3em;
		}

		</style>
	</head>
	<body>
		<article>
			<div id='cover'>
				<img src='assets/grunt-logo.svg'/>
			</div>

			<%= content %>
		</article>
	</body>
</html>
