body {
	font-family: Georgia, "Times New Roman", serif;
	color: #222;
	/*background: #f0f0f0;*/
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
}

header {
	margin: 2em 0;
	border-bottom: 3px solid #222;
}

header p {
	font-style: italic;
	color: #999;
}

a {
	color: #1F3C99;
	text-decoration: none;
}

article {
	max-width: 50em;
	margin: 0 auto;
	padding: 5em;
	background: #fff;
}

pre, code {
	font-family: Consolas, Monaco, monospace;
}

/*pre {
	padding: 1em;
	background: #f0f0f0;
	overflow: auto;
	color: #555;
	border-left:0.3em solid #222;
}*/

#cover {
	margin-bottom: 3em;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

th, td {
	text-align: left;
	vertical-align: top;
	padding: 0.5em 0;
}

tr {
	border-bottom: 1px solid #ddd;
}

.pagination { overflow: hidden; padding: 1em; background: #eee; margin-top: 3em; }
.pagination-prev {float:left;}
.pagination-next {float:right;}